*, body{
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    width: 98vw;
    background-color: #0C1027;
}

header{
    background-color: #0C1027;
    width: 100%;
    padding: 1rem 2rem 0px 2rem;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px 2px #0C1027;
    position: sticky;
    top: 0px;
}

header nav{
    margin: 0px;
    height: 100%;
    width: auto;
}

@-webkit-keyframes heartbeat{
    from{
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-transform-origin:center center;
        transform-origin:center center;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    10%{
        -webkit-transform:scale(.91);
        transform:scale(.91);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    17%{
        -webkit-transform:scale(.98);
        transform:scale(.98);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    33%{
        -webkit-transform:scale(.87);
        transform:scale(.87);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    45%{
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
}
@keyframes heartbeat{
    from{
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-transform-origin:center center;
        transform-origin:center center;
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    10%{
        -webkit-transform:scale(.91);
        transform:scale(.91);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    17%{
        -webkit-transform:scale(.98);
        transform:scale(.98);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
    33%{
        -webkit-transform:scale(.87);
        transform:scale(.87);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in
    }
    45%{
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out
    }
}

.heartbeat{
    -webkit-animation:heartbeat 1.5s ease-in-out infinite both;
    animation:heartbeat 1.5s ease-in-out infinite both
}

header nav i{
    font-size: 3rem;
    width: auto;
    display: inline-block;
}

#icon-sub{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
    text-align: center;
}

#fav{
    display: inline-block;
    vertical-align: top;
}

#fav p{
    font-size: 2rem;
    margin-left: 10rem;
}

#search{
    background-color: #12193E;
    width: 30vw;
    margin-left: 20rem;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    padding: 2px;
    box-sizing: border-box;
}

#search i{
    font-size: 25px;
    padding: 8px;
}

#search #inp{
    width: 23vw;
    display: inline-block;
    
    font-size: 12px;
}

#search #inp input{
    background-color: #12193E;
    border: none;
    font-size: 20px;
    width: 100%;
    border-style: none;
}

#search #mic{
    display: inline-block;
}

#bell{
    display: inline-block;
    font-size: 25px;
    padding: 8px;
    margin: 10px;
    margin-top: 0px;
    vertical-align: top;
}

main{
    margin: 50px auto;
    width: 85vw;
}

#left{
    width: 52vw;
    display: inline-block;
}

#right{
    width: 28vw;
    display: inline-block;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

#top #div1{
    width: 33%;
    height: 23vh;
    background-image: url("./media/crousel/carousel1.jpg");
    background-size: cover;
    background-position: center;
}

#top #div1:hover{
    transform: scale(1.3);
    transition: .3s linear;
}

#top #div2{
    width: 33%;
    height: 23vh;
    background-image: url("./media/crousel/carousel2.jpg");
    background-size: cover;
    background-position: center;
}

#top #div2:hover{
    transform: scale(1.3);
    transition: .3s linear;
}

#top #div3{
    width: 33%;
    height: 23vh;
    background-image: url("./media/crousel/carousel3.jpg");
    background-size: cover;
    background-position: center;
}

#top #div3:hover{
    transform: scale(1.3);
    transition: .3s linear;
}

#latest{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
    width: 100%;
}

#latest-div1{
    width: 50%;
    height: 20vh;
    background-color: red;
    padding: .5rem;
    box-sizing: border-box;
}

#latest-div2{
    width: 50%;
    height: 20vh;
    background-color: blue;
    padding: .5rem;
    box-sizing: border-box;
}

#latest-div3{
    width: 50%;
    height: 20vh;
    background-color: pink;
    padding: .5rem;
    box-sizing: border-box;
}

#latest-div4{
    width: 50%;
    height: 20vh;
    background-color: gray;
    padding: .5rem;
    box-sizing: border-box;
}

.image{
    background-image: url("./media/songs/DaBaby.jpg");
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 8vw;
    height: 100%;
}