/* Some basic CSS */

*, body{
    margin: 0px;
    padding: 0px;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    background-color: #0C1027;
}

.point{
    cursor: pointer;
}

/* Main section CSS */

#main-head{
    background-color: #0C1027;
    width: 100%;
    padding: 1rem 2rem 0px 2rem;
    box-sizing: border-box;
    box-shadow: 0px 6px 6px 2px #0C1027;
    position: sticky;
    top: 0px;
    z-index: 100; 
    display: flex;
    justify-content: space-between;   
}

/* Keyframe for Music icon on top left corner */

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
}
  

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Navabar CSS */

#name-icon{
    display: inline-block;
}

#name-icon i{
    font-size: 3rem;
    width: auto;
    display: inline-block;
}

#icon-sub{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
    text-align: center;
}

#fav{
    display: inline-block;
    vertical-align: top;
}

#fav p{
    font-size: 1.4rem;
    padding-top: 8px;
}

#fav p a:hover{
    text-decoration: underline;
    color: lightgray;
}

#search{
    background-color: #12193E;
    width: 30vw;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
}

#search i{
    font-size: 25px;
    padding: 8px;
}

#search #inp{
    width: 75%;
    display: inline-block;
    
    font-size: 12px;
}

#search #inp input{
    background-color: #12193E;
    border: none;
    font-size: 20px;
    width: 100%;
    border-style: none;
}

#search #mic{
    display: inline-block;
}

/* Keyframe for notification icon */

@keyframes shake-bottom {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
    }
    10% {
      transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
    80% {
      transform: rotate(-2deg);
    }
    90% {
      transform: rotate(2deg);
    }
}
 
.shake-bottom {
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

#notf{
    display: inline-block;
}

#bell{
    display: inline-block;
    font-size: 22px;
    padding: 6px;
    padding-top: 8px;
    margin: 10px;
    margin-top: 0px;
    vertical-align: top;
}

#profile{
    background-image: url("./media/profile_picture.png");
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

/* Main content CSS */

main{
    margin: 50px auto;
    width: 85vw;
}

#left{
    width: 60vw;
    display: inline-block;
}

#right{
    width: 24vw;
    display: inline-block;
    height: 120vh;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #0C1027;
}

/* Left side Content CSS */
/* Artist section CSS */

#artist-info{
    width: 100%;
    height: 45vh;
    background-color: #141B41;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

#artist-img{
    width: 35%;
    height: 100%;
    background-image: url("./media/popular-artists/billie.jpg");
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    box-sizing: border-box;
    border: none;
    box-shadow: 1px -25px 20px 2px #141B41 inset;
    display: inline-block;
}

#artist-detail{
    width: 64%;
    height: 100%;
    display: inline-block;
    padding: 5vh 10px;
    box-sizing: border-box; 
    vertical-align: top;
}

#artist-detail p{
    color: #4F5571;
}

#play-follow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#play{
    width: 20%;
    text-align: center;
    padding: .7rem;
    margin-top: -8px;
    margin-bottom: 4px;
    cursor: pointer;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Playlist section CSS */

#playlist{
    width: 100%;
    height: auto;
}

.song{
    position:relative;
    background-color: #35374F;
    width: 100%;
    height: 13vh;
    padding: 1vh 1vw;
    box-sizing: border-box;
    margin-bottom: 1.2vh;
}

.song:hover{
    background-color: #1A1E33;
}

.name{
    position: absolute;
    left: 1vw;
    height: 100%;
    vertical-align: top;
}

.icon{
    position: absolute;
    right: 1vw;
    top: 30%;
}

.name p{
    color: #93A8B3;
    display: inline-block;
}

.img{
    box-sizing: border-box;
    width: 5vw;
    height: 70%;
    margin: 1vh 1vw;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.song-name{
    display: inline-block;
    vertical-align: middle;
}

.icon i{
    display: inline-block;
    margin: 1vh 2vw;
}

#img1{
    background-image: url("./media/playlist/alone.jpg");
}

#img2{
    background-image: url("./media/playlist/stoney.jpg");
}

#img3{
    background-image: url("./media/playlist/after.jpg");
}

#img4{
    background-image: url("./media/playlist/beer.jpg");
}

/* Right sice content CSS */
/* SImilar artist section CSS */

#similar-artist{
    width: 100%;
    height: 55vh;
    margin-bottom: 5vh;
    margin-left: 1vw;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#sa-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

#sa-top p{
    vertical-align: middle;
    color: #93A8B3;
    padding-top: 2.5vh;
}

#sa-list{
    width: 100%;
    height: 80%;
}

.sa-item{
    width: 100%;
    height: 30%;
    margin-bottom: 1.5vh;
}

.sa-img{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 25%;
    margin-right: 1vw;
    display: inline-block;
}

.sa-info{
    width: 68%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.sa-name{
    position: absolute;
    top: 17%;
    display: inline-block;
}

.sa-info p{
    color: #93A8B3;
}

.sa-icon{
    position: absolute;
    right: 0px;
    top: 0px;
}

.sa-icon i{
    color: #93A8B3;
    padding-left: 5px;
}

#sa-img1{
    background-image: url("./media/playlist/beer.jpg");
}

/* Recently played section CSS */

#side-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4vh;
    box-shadow: 1px 6px 6px 4px #0C1027;
    height: 6%;
    z-index: 3;
}

#side-top h1{
    display: inline-block;
    padding-left: 10px;
}

#side-top div i{
    padding-top: 50%;
    padding-right: 4px;
    font-size: 1.4rem;
    color: #44BDA6;
}

#view{
    vertical-align: middle;
    color: #93A8B3;
    padding-top: 2.5vh;
}

#side-list{
    overflow-y: auto;
    width: 100%;
    height: 90%;
    padding: 0px 1rem;
    padding-top: 10px;

}

.list-song{
    width: 100%;
    box-sizing: border-box;
    height: 12vh;
    margin-bottom: 20px;
    cursor: pointer;
}

.list-song-info{
    display: inline-block;
    width: 75%;
    height: 100%;
}

.list-song-info p{
    color:#93A8B3;
    display: inline-block;
}

.song-img{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    width: 30%;
    margin: 0px 1rem;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

.song-name{
    display: inline-block;
    vertical-align: middle;
}

.heart{
    display: inline-block;
    position: relative;
    left: 4vw;
    cursor:pointer;
}

#song-img1{
    background-image: url("./media/playlist/alone.jpg");
}

#song-img2{
    background-image: url("./media/playlist/after.jpg");
}

#song-img3{
    background-image: url("./media/playlist/stoney.jpg");
}

#song-img4{
    background-image: url("./media/playlist/beer.jpg");
}

/* Media Queries for making page responsive */

/* BreakPoint 1 at 695px width */

@media(max-width:695px){
    #play-follow, #track{
        visibility: hidden;
    }
}

/* BreakPoint 2 at 1111px width */

@media(max-width: 1111px){
    #right{
        display: block;
        width: 100%;
    }
    #left{
        width: 100%;
    }
    #search{
        width: 0px;
        box-sizing: content-box;
        padding: 0px;
    }
    #search i{
        font-size: 0px;
    }
}

/* Footer section CSS */

footer {
    /* visibility: hidden; */
	position: sticky;
	bottom: 0px;
	width: 100vw;
	height: 60px;
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}

/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
	/* border:1px solid white; */
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
/* ////////// */
.time {
	margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}
/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}